body{
    margin-top: 100px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: green;
    background-color: rgb(255, 249, 242);
    
}
img { 
    width: 200px;
    height: 200px;
    opacity: 0.9;
   }